[user]
	name = Joe Fiorini
	email = joe@joefiorini.com
[github]
  token = 22b2f50b9ad4f484fd37c6f5eb51e695
  user = joefiorini
[alias]
  st  = status
  ci  = commit -v
  br  = branch
  co  = checkout
  df  = diff
  lg  = log -p
  who = shortlog -s --
  rb  = rebase
  unstage = reset HEAD $1
  put = push origin HEAD
[diff]
  tool = vimdiff
[color]
  ui = auto
[git-pair]
  authors = Veezus Kreist <almighty@veez.us>
  authors = Joe Fiorini <joe@joefiorini.com>
  authors = Jonathan Penn <jonathan@navel-labs.com>
	authors = Ivan Davydov <idavydov@sparkbase.com>
	authors = Melissa Lewis <melissa.lewis@leandog.com>
	authors = Kevin Day <kday@sparkbase.com>
[core]
	excludesfile = /Users/joe/.gitignore
