<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Development</string>
	<key>uuid</key>
	<string>0478ECDC-1A25-4450-95B3-91A4CA935252</string>
</dict>
</plist>
